---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('idea');
---

<BaseLayout title="想法/观点">
  <h1>想法/观点</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/idea/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>