---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('read');
---

<BaseLayout title="阅读笔记">
  <h1>阅读笔记</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/read/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>