---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('go');
---

<BaseLayout title="Go 语言文章">
  <h1>Go 语言文章</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/go/${post.slug}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>